.titulo-sobre-nos {
    
    color:#e6e9f3;
    margin-bottom: 20px;
    
}

.paragrafo-sobre-nos {

    color: #e6e9f3;
    margin-bottom: 280px;
    padding: 24px;
    text-align: justify;
}