.titulo-quem-somos {
    
    color:#610fa5;
    margin-bottom: 20px;
    margin-top: 80px;
    padding: 20px;
    text-align: center; 
    
}

.paragrafo-quem-somos{

    color: #691180;
    font-size: 20px;
    margin: 20px;
    margin-bottom: 320px;
    padding: 24px;
    text-align: justify;
}