.fotos {

    display: flex;
    flex-wrap: wrap;
    gap: 65px;
    margin: 0 auto;
    width: 100%;

}

.foto {

    padding: 20px 12px;
    width: 20%;

}

.imagem {

    height: 200px;
    width: 100%;

}

.titulo-foto {

    color: #1c347a;
    margin: 8px 0 12px;

}

.descricao-foto {

    color: #3a5ec9;

}

button {

    background-color:#f72d09;
    border-color: #f72d09;
    border-radius: 5px;
    box-shadow:2px 2px 2px 1px #b9705e98;
    color: #faf0e6;
    padding: 10px;
    
}

button:hover{

    background-color:#f76809;
    border-color:#f76809;
    transition: 0.3s;
}