.titulo-quem-somos {
    
    color:#3f66db;
    margin-bottom: 20px;
    margin-top: 80px;
    padding: 20px;
    text-align: center; 
    
}

.paragrafo-quem-somos{

    color: #3a56a8;
    margin-bottom: 320px;
    padding: 24px;
    text-align: justify;
}