.container{
  margin: auto;
  padding-top: 60px;

  li{
    display: flex;
    flex-direction: column;
    gap: 6px;

    button{
      padding: 20px 40px;
      border-radius: 12px;
      border: none;
      color: white;
      background-color: #b63131;
    }
  }


}