.container{
  padding: 40px;

  .title{
    text-align: center;
    padding: 48px;
  }

  .componentsFinded{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }


}